<div class="cuadroProvincia">
    <div class="contenedorProv"> 
        <h1 class="titProv">Santa cruz</h1>     
        <h1>Unidad 15 - Cárcel de Río Gallegos</h1>

        <carousel>
          <slide *ngFor="let img of imagesU15">
            <img [src]="img.src" [alt]="img.alt" style="display: block; width: 100%;">
          </slide>
        </carousel>
        
        <p> <strong>Detalle de trabajo</strong> <br>
        
            El establecimiento cuenta con los siguientes talleres productivos:

Carpintería,
Herrería,
Bloquería,
Tapicería,
Panadería.
          
        </p>
        <details class="details-container">
            <summary class="details-summary">Total de internos trabajadores: {{ totalInternossantacruzu15 }}</summary>
            <div class="talleres-container">
              <table class="talleres-table">
                <thead>
                  <tr>
                    
                    <th>Taller</th>
                    <th>Internos Trabajadores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let taller of tallersantacruzu15">
                    
                    <td><b>{{ taller.nombre_de_taller }}</b></td>
                    <td>{{ taller.cantidad_de_internos_trabajadores }}</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </details>         
    </div>



</div>

