<div class="cuadroProvincia">
    <div class="contenedorProv">      
        <h1>Complejo Penitenciario Federal de la Ciudad Autónoma de Buenos Aires</h1>
        <img src="./assets/img/caba.png" alt="Complejo Penitenciario Federal de la Ciudad Autónoma de Buenos Aires">
        <p> <strong>Detalle de trabajo</strong> <br>
        
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a ipsum 
            in risus pulvinar lacinia. Curabitur ut ante eget enim gravida suscipit 
            at vel quam. Quisque varius id nunc vitae feugiat. Duis venenatis libero 
            ante, nec rhoncus quam finibus vel. Etiam volutpat eros id odio commodo, 
            et ullamcorper turpis vehicula. Duis semper purus arcu, in elementum lorem 
            consequat sed. Donec suscipit orci at libero vulputate sodales. Nam sed 
            neque eu ligula mollis fringilla. Sed arcu nisi, commodo sed velit vitae, 
            maximus vestibulum neque. Suspendisse sed tincidunt nulla. Nunc et est erat. 
            In accumsan dapibus velit nec lacinia. Sed a odio in dolor porta venenatis.
             Praesent fringilla blandit nisl eu viverra.
        </p>
    </div>



</div>
