<div class="cuadroProvincia">
    <div class="contenedorProv">   
        <h1 class="titProv">Mendoza</h1>   
        <h1>Complejo Penitenciario Federal VI de Cuyo</h1>

        <img src="./assets/img/cpf6.png" alt="ComplejoeVI">

        <br>
        <br>

        <p> <strong>Detalle de trabajo</strong> <br>
        
            El complejo posee, entre otros, los siguientes talleres productivos: 

            costura/sastreria,
            articulos de limpieza,
            bordado/sublimado,
            carpinteria,
            fabricaciones de pañales,
            parques y jardines
        </p>

        <details class="details-container">
            <summary class="details-summary">Detalles de talleres</summary>
            <div class="talleres-container">
              <table class="talleres-table">
                <thead>
                  <tr>
                    <th></th>
                    <th>Taller</th>
                    <th>Internos Trabajadores</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let taller of talleresmendozacpfvi">
                    <td><img src="./assets/icons/icon-taller.svg" alt="Zapatería" class="taller-icon"></td>
                    <td><b>{{ taller.nombre_de_taller }}</b></td>
                    <td>{{ taller.cantidad_de_internos_trabajadores }}</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td></td>
                    <td><p><strong>Total de Internos: </strong></p></td>
                    <td>{{ totalInternosmendozacpfvi }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </details> 

    </div>



</div>

