<div class="cuadroProvincia">
    <div class="contenedorProv">

        <h1 class="titProv">Salta</h1>
        <div class="botonera">
            <button (click)="templateSelected=unidad16">U16</button>
            <button (click)="templateSelected=unidad23">U23</button>
			<button (click)="templateSelected=complejoTres">CPF III NOA</button>
        </div>

        <ng-container *ngTemplateOutlet="templateSelected?templateSelected:unidad16">
        </ng-container>
    </div>
</div>
<ng-template #unidad16>
    <h1> Unidad 16 - Instituto Penitenciario Federal de Salta </h1>
    <carousel>
        <slide>
            <img src="./assets/img/u16.png" alt="Unidad 16 - Instituto Penitenciario Federal de Salta" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <p> <strong>Detalle de trabajo</strong> 
        <br>La unidad cuenta, entre otros, con los siguientes talleres productivos: Carpintería, Herrería, Artesanía, Bloquería, Horticultura, Mantenimiento interno, Mecánica automotores, Lavadero artesanal de autos, Talabartería.
    </p>

    <details class="details-container">
        <summary class="details-summary">Detalles de talleres</summary>
        <div class="talleres-container">
          <table class="talleres-table">
            <thead>
              <tr>
                <th></th>
                <th>Taller</th>
                <th>Internos Trabajadores</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let taller of tallersaltau16">
                <td><img src="./assets/icons/icon-taller.svg" alt="Zapatería" class="taller-icon"></td>
                <td><b>{{ taller.nombre_de_taller }}</b></td>
                <td>{{ taller.cantidad_de_internos_trabajadores }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td><p><strong>Total de Internos: </strong></p></td>
                <td>{{ totalInternosaltau16 }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </details>

</ng-template>

<ng-template #unidad23>
    <h1>Unidad 23 - Cárcel Federal de Salta</h1>
    <carousel>
        <slide>
            <img src="./assets/img/u23.png" alt="Unidad 23 - Cárcel Federal de Salta" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <p> <strong>Detalle de trabajo</strong> <br> La unidad cuenta, entre otros, con los siguientes talleres productivos: Carpintería, Artículos de limpieza, herrería, talabartería y marroquinería.
    </p>
</ng-template>

<ng-template #complejoTres>
    <h1>Complejo Penitenciario Federal III</h1>

    <iframe width="100%" height="315px" src="https://www.youtube.com/embed/0u4jPmqu_oI" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>

    <carousel>
        <slide>
            <img src="./assets/img/cpf3.png" alt="Complejo Penitenciario Federal III" style="display: block; width: 100%;">
        </slide>
    </carousel>

    <p> <strong>Detalle de trabajo</strong> <br> La unidad cuenta, entre otros, con los siguientes talleres productivos:

        Para mujeres:
        
        Parquizado,
        Costura,
        Tejido a máquina,
        Tejido a mano,
        Artículos de limpieza,
        Artesanía,
        Para varones:
        
        Herrería,
        Bloquería,
        Carpintería,
        Panadería,
        Lavandería,
        Sastrería,
        Peluquería,
        Parque y jardín
    </p>

    <details class="details-container">
        <summary class="details-summary">Detalles de talleres</summary>
        <div class="talleres-container">
          <table class="talleres-table">
            <thead>
              <tr>
                <th></th>
                <th>Taller</th>
                <th>Internos Trabajadores</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let taller of tallersaltanoa">
                <td><img src="./assets/icons/icon-taller.svg" alt="Zapatería" class="taller-icon"></td>
                <td><b>{{ taller.nombre_de_taller }}</b></td>
                <td>{{ taller.cantidad_de_internos_trabajadores }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td><p><strong>Total de Internos: </strong></p></td>
                <td>{{ totalInternossaltanoa }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </details>    
</ng-template>

